{% extends 'layout_main.html.twig' %}

{% block css %}

{{ parent () }}
    <title>FACTURACION - E-chip</title>
{% endblock %}

{% block body %}

<div class="container-fluid" style="padding: 0">

    {{ parent () }}

<form id="formfactura" target="_blank" action="/factura" method="post" enctype="application/x-www-form-urlencoded" onsubmit="subirfactura(this)">
    <input name="facturaitems" id="facturaitems" type="hidden">
    <input name="facturaiva" id="facturaiva" type="hidden">
    <input name="facturabiiva" id="facturabiiva" type="hidden">
    <input name="facturadatos" id="facturadatos" type="hidden">
    <input name="facturavenci" id="facturavenci" type="hidden">
    <input name="facturacliente" id="facturacliente" type="hidden">
    <div class="row" style="margin: 70px 0 0 0">
        <div class="col-md-12" style="padding: 0 15px 0 0;">
            <div class="col-md-2 col-xs-12" style="text-decoration: underline; font-size: 16px; color: #3371c8;">Albaranes</div>
            <div class="col-md-3 col-xs-12"><span class="color-azul"> Activar Almacén &nbsp;&nbsp;</span>
                <input type="radio" name="almacen" id="almasi" value="si"> Sí
                <input type="radio" name="almacen" id="almano" value="no" checked> No
            </div>
        </div>
    </div>

    <div class="row" style="margin: 0 0 0 0; border-bottom: 2px dashed #9acfea; padding: 20px 0 10px 0">
        <div class="col-md-6">
            <div class="col-md-12 paddleft-0">
                <img id="logoempresa" src="{{ inicial.logo }}" height="60" style="margin: -10px  0 10px 0">
            </div>
            <div class="col-md-3 col-xs-6 color-rojo paddleft-0 margin-bot">Empresa</div>
            <div class="col-md-9 col-xs-6 margin-bot">
                <select id="sel-empresa" class="form-control input-sm e-select no-print" style="font-size: 14px; margin-top: -5px; padding: 0; color: #000;">
                    {% if empre.nl == '0' %}
                        <option value="--">No hay empresas</option>
                    {% else %}
                        {% for item in empre %}
                            {% if item.nombre is defined %}
                                <option value="{{ item.id }}" {% if item.ultima == 'si' %} selected="selected" {% endif %}>{{ item.nombre }} </option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="col-md-3 color-rojo paddleft-0 margin-bot">CIF/NIF:</div>
            <div id="usucif"  class="col-md-9 margin-bot">{{ inicial.cif | upper}}</div>


            <div class="col-md-3 color-rojo paddleft-0 margin-bot">Núm. Albarán:</div>
            <div class="col-md-9 margin-bot"><input id="usunumfac" class="e-input" value="ALB-{{ inicial.numeroalba }}" readonly></div>
            <div class="col-md-3 paddleft-0 color-rojo">Fecha Albarán:</div>
            <div class="col-md-9"><input id="usufechafac" class="e-input fecha-input" maxlength="10" value="{{ inicial.fecha_factura }}"></div>


        </div>
        <!--------Clientes------------->
        <div class="col-md-6" style="background-color: #ffffdd; border-left: 2px dashed #3371c8">
            <div class="col-md-12 col-xs-12 margin-top-bot" style="text-decoration: underline; font-size: 16px; color: #3371c8;">Cliente</div>
            <div class="col-md-3 col-xs-6 color-rojo margin-bot">CIF/NIF</div>
            <div class="col-md-9 col-xs-6 margin-bot"><input id="albacif" class="e-input" value="" list="data-clientes" placeholder="Buscar por nombre" style="background-color: #ffd;width: 80%"></div>
            <datalist id="data-clientes">
                {% for cli in clienteslist %}
                    <option value="{{ cli.cif }}">{{ cli.nombre }}</option>
                    <{% endfor %}
            </datalist>
            <div class="col-md-3 color-rojo margin-bot">Nombre:</div>
            <div id="factnombre" class="col-md-9 margin-bot" style="font-size: 12px"></div>
            <div class="col-md-3 color-rojo margin-bot" style="clear: both;float: left;">Descuento:</div>
            <div class="col-md-9 margin-bot" style="font-size: 12px"><span id="factdesc">0.00</span> %</div>
            <div class="col-md-3 color-rojo" style="clear: both;">Dirección:</div>
            <div id="factdirec" class="col-md-9" style="overflow-y: auto;height: 50px;font-size: 12px">&nbsp;</div>

        </div>



    </div>


    <div class="row" style="margin: 0 0 0 0; padding: 20px 0 10px 0; background-color: #fff">
        <div class="col-md-12 col-xs-12" style="text-decoration: underline; font-size: 16px; color: #3371c8; margin-bottom: 20px"><div class="col-md-3"> Productos del Albarán</div><div class="col-md-3"><button id="btn-vaciaitems" type="button" class="btn btn-trans color-rojo" style="font-size: 13px; margin-top: 0;padding: 0">Vaciar Elementos</button></div> </div>
        <div class="borde-left" style="margin-left: 15px;float: left;width: 5%">Cant.</div>
        <div class="borde-left" style="float: left;width: 15%">Codigo</div>
        <div class="borde-left" style="float: left;width: 35%">Concepto</div>
        <div class="borde-left" style="float: left;width: 5%">Dcto. %</div>
        <div id="item-tipoiva" class="borde-left" style="float: left;width: 5%">{{ inicial.tipo_iva }} %</div>
        <div class="borde-left" style="float: left;width: 10%">Precio <span id="simb-moneda"> {{ inicial.cf_mo_simbolo }}</span></div>
        <div class="borde-right" style="float: left;width: 10%;margin-right: 0">Importe <span id="simb-moneda2"> {{ inicial.cf_mo_simbolo }}</span></div>
    </div>
    <div id="div-items" style="width:100%;height: 250px;background-color: #d9edf7;font: normal 13px 'Courier New'; border-bottom: 2px solid #3371c8;overflow-y: scroll; padding-left: 15px">

    </div>
    <div class="col-md-12">

        <div style="float: left;">
            <input type="text" id="cantidad" class="input-sm e-input decimal2" maxlength="6" size="4" placeholder="Cantidad" value="1.00">
            <input type="hidden" id="iditem">
        </div>
        <div style="float: left;">
            <input type="text" id="codigo" class="input-sm e-input" maxlength="30" size="22" placeholder="Código">
        </div>
        <div style="float: left;">
            <input type="text" id="concepto" class="input-sm e-input" maxlength="100" size="55" placeholder="Concepto">
        </div>
        <div style="float: left;">
            <input type="text" id="descuento" class="input-sm e-input color-verde decimal2 text-right" maxlength="10" size="4" placeholder="Dcto." value="0.00" title="Descuento">
        </div>
        <div style="float: left;">
            <input type="text" id="iva" class="input-sm e-input decimal2 color-azul9 text-right" maxlength="10" size="4" placeholder="{{ inicial.tipo_iva }}" value="{{ inicial.iva }}" title="{{ inicial.tipo_iva }}">
        </div>
        <div style="float: left;">
            <input type="text" id="precio" class="input-sm e-input text-right decimals" maxlength="20" size="15" placeholder="Precio">
        </div>
        <div style="float: left;">
            <input type="text" id="totimp" class="input-sm e-input text-right" readonly size="15" value="0.00" style="background-color: #dbdbdb;font: bold 14px monospace">
        </div>
        <div style="float: left;">
            <button id="btn-item" type="button" class="btn btn-primary" title="Grabar Artículo" style="height: 20px; margin: 10px 0 0 10px; padding-top: 0px;font-weight: 600; width: 70px"><i class="fa fa-check-square-o"></i></button>
        </div>
        <div style="float: left;">
            <button id="btn-limpiaritem" type="button" class="btn btn-default" title="Cancelar/Borrar" style="height: 20px; margin: 10px 0 0 10px; padding-top: 0px;font-weight: 600"><i class="fa fa-reply"></i></button>
        </div>

        <div style="clear: both;float: left;width: 100%">
            <div id="infoitem" style="height: 36px;color: #900; text-align: center;font-size: 18px;margin-top: 20px;float: left;width: 45%"></div>
            <div style="float: right">
                <button id="btn-verfactura" type="button" class="btn btn-warning" title="Ver Factura / Facturar" style="height: 20px; margin: 10px 0 0 10px; padding-top: 0px;font-weight: 600; width: 123px; color: #000;" ><i class="fa fa-file-text-o"></i> Albarán</button>
            </div>
        </div>

        <div class="col-md-5" style="padding-left: 0">
            &nbsp;
        </div>
        <div class="color-rojo" style="padding-left: 0; float: left;">Firma el Albarán:</div>
        <div class="col-md-5" style="padding-left: 0; margin-left: 10px">
            <input type="text" id="quienrecoje" class="input-sm e-input " size="60" placeholder="Nombre" style="margin-top: -20px">
        </div>


    </div>


</form>







</div>

{% endblock %}


{% block javascript %}

    {{ parent() }}
    <script src="static/js/albaranes.js"></script>
    <script>
        var g_decimales = {{ inicial.cf_decimales }}
    </script>

{% endblock %}